body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
#hero {
    padding: 50px;
    background: url('hero.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
}

#hero h2 {
    font-size: 2.5em;
}

#courses, #testimonials, #contact {
    padding: 20px;
    text-align: center;
}

.course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
}

.course {
    background-color: #f4f4f4;
    padding: 20px;
    width: 30%;
    border-radius: 8px;
}

.testimonial {
    background-color: #e2e8f0;
    margin: 10px auto;
    padding: 10px;
    width: 60%;
    border-radius: 8px;
}

